spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/linkfit_db
    username: linkfit_user
    password: linkfit_pw
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

logging:
  level:
    org.hibernate.SQL: info
